fastapi>=0.110.0
jinja2
python-multipart
uvicorn
asyncio
pytest
requests
python-dotenv

sqlalchemy>=2.0.27
cityhash
fastembed
redis>=5.0.2
rq
rq-dashboard
pyarango>=2.1.1
gdown

numpy>=1.26.4
pandas>=2.2.2
tabulate
seaborn
matplotlib
plotly
squarify
openpyxl
dedupe
unidecode

Faker
selenium
beautifulsoup4
lxml
html5lib
markdown

# ===================================================================
# AI Agent Frameworks & Foundational AI Libraries
# ===================================================================
google-genai>=1.25.0
langchain>=0.2.0                # Core framework for building with LLMs
langgraph>=0.3.25               # Building stateful, multi-actor applications (agents) with LLMs
transformers>=4.41.0            # Hugging Face library (often needed for models/tokenizers used by other libs)
langdetect>=1.0.9               # Basic language detection
langchain-google-genai>=2.1.7
google-cloud-translate>=3.15.3

torch
ctransformers[cuda]
sentence-transformers
accelerate
peft
bitsandbytes
einops
safetensors
xformers
chromadb

qdrant-client>=1.14.3
psycopg[binary]