
fastapi
uvicorn
asyncio
pytest
requests
langchain
openai
python-dotenv
redis
pyarango
numpy
pandas
seaborn
matplotlib
squarify
plotly
openpyxl
Faker
tabulate
gdown
selenium
beautifulsoup4
lxml
html5lib
google-generativeai
transformers
sentence-transformers